$primary-color: #4695C7;
$primary-color-darker: #2B5C7A;
$secondary-color: #A3D9FB;
$black-color: #111111;
$font-style: helvetica, sans-serif;
$default-transition: 0.2s ease-out;
$menu-apperance-transition: 1s ease-out;
$tablet-width: 768px;
$desktop-width: 1024px;